@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,300&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Roboto:ital,wght@0,300;1,300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,300&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=Roboto:ital,wght@0,300;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}
.body {
  width: 100%;
  color: white;
  background-color: #000000e0;
}

/*Main*/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/*header*/
.header {
  top: 0;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 65px;
  background: linear-gradient(to bottom, black, #000000e0);
  box-shadow: 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
/*logo del navbar*/
.logo {
  margin-bottom: 10px;
  width: 130px;
  padding: 10px;
}
/*para modificar el menu icon*/
.menu__label {
  display: none;
  cursor: pointer;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.857);
  padding: 4px;
}
/*contenedor de los botones login y register*/
.header__log {
  display: flex;
  gap: 20px;
}
.header__log button {
  width: 80px;
  background-color: gold;
  border-radius: 20px;
  padding: 5px 10px;
  border: 2px solid lightgray;
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn__login a {
  font-size: 14px;
  color: white;
}

.btn__register a {
  color: white;
  font-size: 14px;
}
.btn__register a:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
}

/*sección del navbar*/
.navbar,
.navbar__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 4px;
}

.navbar__list a {
  font-size: 18px;
  font-weight: 600;
  color: white;
}
/*icono del carrito*/
.cart__label {
  position: relative;
  font-size: 20px;
  color: white;
  cursor: pointer;
  padding: 4px;
}
.cart__label:hover {
  color: #0093e9;
}
.cart__bubble {
  top: -8px;
  right: -8px;
  position: absolute;
  display: flex;
  background-color: red;
  font-size: 12px;
  padding: 5px 5px;
  border-radius: 50%;
  color: white;
  justify-content: center;
  width: 18px;
}
.cart {
  gap: 15px;
  top: 65px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 0;
  height: calc(100vh - 65px);
  background-color: black;
  padding: 20px 20px;
  min-width: 300px;
  overflow: scroll;
  z-index: 2;
  transform: translate(200%);
  transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
  border-left: 2px solid gold;
}

.open__cart {
  transform: translate(0%);
  transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

/*Ocultar la barra scroll del carrito */
.cart::-webkit-scrollbar {
  display: none;
}

.cart h2 {
  color: gold;
}
.cart__container {
  display: flex;
  flex-direction: column;
}
/*template del carrito*/
.cart__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.cart__item img {
  width: 50px;
  height: 50px;
}
.item__info {
  display: flex;
  min-width: 110px;
  flex-direction: column;
}
.item__title {
  display: flex;
  justify-content: center;
  font-size: 13px;
  font-weight: 300;
}
.item__price {
  display: flex;
  justify-content: center;
}
.item__handler {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.quantity__handler {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  color: white;
  width: 20px;
}

.up {
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid white;
  color: rgb(49, 247, 0);
}
.down {
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid white;
  color: rgb(255, 0, 0);
}

.empty__msg {
  font-size: 16px;
  color: rgb(0, 255, 0);
}
.divider {
  margin-top: 20px;
  border: 3px solid blue;
  width: 100%;
}
.cart__total {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap: 20px;
}
.cart__total p {
  display: flex;
  justify-content: flex-end;
  color: gold;
  font-size: 16px;
  font-weight: 700;
}
.total {
  font-size: 14;
  font-weight: 700;
  padding: 10px 40px;
  color: rgb(0, 255, 0);
}
.cart__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 10px 0px;
  gap: 10px;
}
.cart__btn button {
  width: 100px;
  margin: 5px;
}

.cart__buy {
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 600;
  background-color: rgba(0, 157, 255, 0.967);
  color: white;
  border-radius: 20px;
  border: 2px solid lightgray;
  cursor: pointer;
}
.cart__buy:hover {
  color: black;
  transition: all 0.2s ease;
  transform: scale(1.1);
}
.cart__delete {
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 600;
  background-color: rgba(0, 157, 255, 0.967);
  color: white;
  border-radius: 20px;
  border: 2px solid lightgray;
  cursor: pointer;
}
.cart__delete:hover {
  color: black;
  transition: all 0.2s ease;
  transform: scale(1.1);
}

.hidden {
  display: none;
}
.disabled {
  background-color: #bdbdbd;
  cursor: not-allowed;
  color: white;
  border: none;
}
.disabled:hover {
  background-color: #bdbdbd;
  cursor: not-allowed;
  color: white;
  border: none;
}

/*Sección el hero */

#hero {
  max-width: 1200px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
  align-items: center;
}
.hero__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 20px 10px;
  gap: 20px;
}
.hero__title {
  padding: 20px;
  color: whitesmoke;
  font-size: 3rem;
}
.hero__img {
  border-radius: 5px;
  width: 500px;
  box-shadow: 10px 10px 5px rgba(255, 255, 255, 0.735);
}
.browser__box {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 500px;
}
.browser__text {
  width: 100%;
  border: none;
  padding: 10px 30px;
  border-radius: 15px;
  box-shadow: 10px 10px 5px rgba(255, 255, 255, 0.735);
}
.btn__browser {
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 15px;
  color: #0093e9;
  box-shadow: 10px 10px 5px rgba(255, 255, 255, 0.735);
}
/*Sección del About us*/
#about-us {
  background-image: url(../img/dmytro-tolokonov-pSJMUniM4G4-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}

#about-us h2 {
  color: gold;
  font-size: 30px;
  padding: 20px;
}

#about-us p {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.span__about {
  font-size: 22px;
  font-weight: 500;
  color: gold;
}
.about__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  padding: 10px;
}
.about__benefit {
  background-color: #ffffffa3;
  width: 250px;
  height: 250px;
  color: black;
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: 5px 10px 5px rgb(186 185 185 / 61%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 0.2s ease-in-out;
}
.about__benefit:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

.about__card--title {
  width: 100%;
  box-shadow: 5px 5px 5px rgba(3, 57, 234, 0.785);
  background-color: rgba(0, 0, 0, 0.256);
  color: black;
  font-weight: bold;
  font-size: 22px;
  padding: 5px;
  border-radius: 5px;
}
.about__img {
  padding: 5px;
  width: 80%;
  height: 50%;
}
.about__card--p {
  width: 100%;
  color: white;
  font-size: 12px;
  font-weight: 500;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.304);
  box-shadow: 5px 5px 5px rgba(3, 57, 234, 0.785);
  border-radius: 5px;
}

/*Sección de los productos (Fragancias)*/
#products {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}

#products h2 {
  font-weight: 900;
  font-size: 30px;
  padding: 20px;
  color: white;
}
.product__p {
  font-size: 14px;
  font-weight: 500;
  margin: 20px;
  padding: 20px;
}

.categories {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 10px;
}
.category {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 800;
}
.active {
  background-color: gold;
}

.perfumes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
  justify-content: center;
  gap: 20px;
  background-image: url(../img/adrien-olichon-R2OM3BvN-Uo-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 20px;
  padding: 20px;
}

.product {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-image: url(../img/oro\ liquido.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: black;
  width: 260px;
  height: 400px;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  box-shadow: 5px 7px 5px #ebe5e5;
  gap: 5px;
  margin: 10px;
}
.card__img {
  background-color: rgba(128, 128, 128, 0.515);
  border-radius: 10px;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  transition: all 0.3s ease;
}
.card__img:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
}
.card__title {
  background: linear-gradient(to bottom, #03a9f4, rgb(255, 255, 255));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 20px;
}
.card__brand {
  color: beige;
  align-items: center;
  font-size: 16px;
}
.card__box {
  width: 250px;
  display: flex;
  justify-content: space-evenly;
  padding: 4px;
}
.card__price {
  font-weight: bold;
  color: white;
}
.card__notas {
  width: 240px;
  border: 1px solid black;
  font-weight: bold;
  font-size: 10px;
  height: 50px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.602);
  border-radius: 10px;
  padding: 10px 5px;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.3s ease;
}
.card__notas:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
}
.btn__add {
  cursor: pointer;
  display: flex;
  background-color: black;
  font-size: 16px;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
  gap: 5px;
  transition: all 0.2s ease;
}
.btn__add:hover {
  transition: all 0.2s ease;
  transform: scale(1.1);
}
.btn__load {
  cursor: pointer;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  background-color: black;
  transition: all 0.3s ease;
}
.btn__load:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
}
.add__modal {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(9, 255, 0);
  padding: 15px 0px;
  bottom: 0;
  position: fixed;
  transition: all 0.5s ease-out;
  transform: translateY(200%);
}
.active__modal {
  transform: translateY(0);
  transition: all 0.5s ease-in;
}

/*Seccíon del Contacto*/
#contact {
  background-image: url(../img/vista-frontal-botella-colonia-rama-arbol-podrido-sobre-fondo-azul-borroso.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  margin-top: 40px;
}
.contact,
h1 {
  font-weight: 600;
  font-size: 30px;
  color: white;
  padding: 4px;
  margin: 5px;
}
.contact__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.contact__info--all {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 20px;
  flex-wrap: wrap;
}
.contact__info--list {
  padding: 5px;
}
.contact__redes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 10px;
}
.contact__redes h2 {
  color: white;
}
.link__redes img {
  width: 20px;
  border-radius: 10px;
}
.link__redes a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: gold;
  padding: 5px;
  font-weight: 800;
  transition: all 0.3s ease;
}
.link__redes a:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
}

.contact__location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 10px;
}
.contact__location h2 {
  color: white;
}
.contact__location i {
  color: white;
  font-size: 15px;
}
.contact__location a {
  display: flex;
  flex-direction: row-reverse;
  color: gold;
  gap: 10px;
  align-items: center;
  padding: 5px;
  font-size: 16px;
  font-weight: 800;
}

.contact__map iframe {
  max-width: 400px;
  height: 250px;
  border-radius: 10px;
  filter: grayscale(100%) invert(90%) contrast(93%);
  box-shadow: 10px 15px 5px rgba(8, 8, 8, 0.1);
}
#form {
  display: flex;
  width: 450px;
  height: 250px;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  justify-content: space-around;
  background-color: rgb(238, 238, 238);
  gap: 10px;
  box-shadow: 10px 15px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.form__container {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.form__data {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 4px;
}
.form__field {
  gap: 20px;
}
.text__input {
  border: none;
  box-shadow: 8px 5px 5px #bdbdbd;
  border-radius: 10px;
  padding: 10px 20px;
}
.textarea__input {
  border: none;
  box-shadow: 10px 10px 5px #bdbdbd;
  width: 200px;
}
.form__btn {
  border: none;
  padding: 8px 10px;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  background-color: rgb(0, 191, 255);
  box-shadow: 5px 5px 5px #bdbdbd;
  transition: all0 0.3s ease;
  cursor: pointer;
}
.form__btn:hover {
  color: black;
  transition: all 0.3s ease;
  transform: scale(1.1);
}
/*Sección del footer o pie de pagina*/
#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__list {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 5px;
  margin-top: 5px;
  align-items: center;
  transition: all 0.2s ease;
}
.footer__list a {
  color: white;
}
.footer__list :hover {
  color: #0093e9;
  transition: all 0.2s ease;
  transform: scale(1.1);
}

#footer img {
  width: 120px;
  padding: 10px;
  margin: 5px;
}
#footer p {
  height: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
